In [3]:
print("Nama saya adalah Adam MB")

a = 10 #Integer
b = 11.5 #float
nama = "Kania Evita Dewi" #String

a, b, nama = 10, 11.5, "Kania Evita Dewi"
print(a,b,nama)

print("Nama saya adalah " + nama + ". Umur saya " + str(a) + ". Angka favorit saya adalah " + str(b))

Nama saya adalah Adam MB
10 11.5 Kania Evita Dewi
Nama saya adalah Kania Evita Dewi. Umur saya 10. Angka favorit saya adalah 11.5

In [5]:
print(10 + 5)
print("Kania" + "Evita" + "Indriani")

15
KaniaEvitaIndriani

In [7]:
print("Nama saya adalah Adam MB")
print()
print("Nama saya adalah Adam MB")

Nama saya adalah Adam MB

Nama saya adalah Adam MB

In [8]:
print("Nama saya adalah Adam MB\n")
print("Nama saya adalah Adam MB")

Nama saya adalah Adam MB

Nama saya adalah Adam MB

In [9]:
print("Kalau sampai waktuku\nKu mau tak seorang kan merayu\nTidak juga kau\nTak perlu sedu sedan itu\nAku ini binatang jalang")

Kalau sampai waktuku
Ku mau tak seorang kan merayu
Tidak juga kau
Tak perlu sedu sedan itu
Aku ini binatang jalang

In [13]:
# Karakter untuk newline adalah \n
print("Karakter untuk newline adalah \\n")

# I can't love you anymore.
print('I can\'t love you anymore.')
print("I can't love you anymore.")

Karakter untuk newline adalah \n
I can't love you anymore.
I can't love you anymore.

In [14]:
print("Nama saya adalah Patrick.","Nama keluarga saya adalah Star.", end = "*")

Nama saya adalah Patrick. Nama keluarga saya adalah Star.*

In [15]:
print("Nama", "saya", "adalah", "Patrick.", sep = "-")

Nama-saya-adalah-Patrick.

In [20]:
print("Saya mau bakso\n"*10)
print(10*10)
print("10\n"*10)

Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso

100
10
10
10
10
10
10
10
10
10
10

In [23]:
a, b, nama = 10, 11.5, "Kania Evita Dewi"

print(type(a))
print(type(b))
print(type(nama))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
print(1000000)
print(1_000_000)
print(-13)

print(0o17) #oktal
print(0xF) #hexadecimal

1000000
1000000
-13
15
15

In [30]:
print(25.0)
print(25.)

print(0.25)
print(.25)

25.0
25.0
0.25
0.25

In [35]:
print(3.2e10)
print(3.2e-2)

print(.00000000000000032)

print(round(0.3245678910, 2))

32000000000.0
0.032
3.2e-16
0.32

In [40]:
print(10 > 5)

a = False
b = True
c = a + b

print(int(a))
print(c)
print(type(c))

True
0
1
<class 'int'>

In [41]:
print(None)

None

In [42]:
print(10 + 11)
print(10 - 11)
print(10 * 11)
print(10 / 11)
print(10 % 11)
print(10 // 11)
print(10 ** 2)

21
-1
110
0.9090909090909091
10
0
100

In [46]:
print(6 / 4)
print(6. / 4)
print(6 / 3)
print(6. // 3)

1.5
1.5
2.0
2.0

In [48]:
a = 3 + 1

print(4 ** 0.5)

2.0

In [49]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [54]:
a = 10
a = a + 1
a += 10

a -= 30
a *= -3
print(a)

27

In [1]:
angka = input("Masukkan sebuah angka: ")
b= int(angka) + 1
print(b)

c = angka * 10
print(c)

Masukkan sebuah angka:  2

3
2222222222

In [6]:
print(True)
print(10 == 10)
print(10 <= 9)
print(10 + 20 >= 20)

True
True
False
True

In [15]:
umur = int(input('Masukkan umur= '))

if umur >= 17:
    print('Anda boleh memiliki KTP')
    print("Aloha")
    
print('Terima kasih')

Terima kasih

In [16]:
umur = int(input('Masukkan umur= '))

if umur >= 17:
    print('Anda boleh memiliki KTP')
else:
    print('Tidak boleh memiliki KTP')

print('Terima kasih')

TIdak boleh memiliki KTP
Terima kasih

In [18]:
warna = input('Warna lampu lalu lintas= ')

if warna == 'merah':
    print('Berhenti')
elif warna == 'kuning':
    print('Bersiap')
elif warna == 'hijau':
    print('Jalan')
else:
    print('Warna tidak valid')

print('Terima kasih')

Jalan
Terima kasih

In [19]:
umur = int(input('Masukkan umur= '))
nyetir = input('Bisa nyetir? ')

if umur >= 17:
    if nyetir == 'bisa':
        print('Punya SIM')
else:
    print('Tidak punya SIM')

print('Terima kasih')

Punya SIM
Terima kasih

In [22]:
x = 10
y = 20

temp = x
x = y
y = temp

print(x,y)

x, y = y, x
print(x,y)

20 10
10 20

In [24]:
x = 0

while x <=10:
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11

In [27]:
x = 0

while x <=10:
    if x % 2 == 0:
        print(x)

    x += 1

print('Terima kasih')

0
2
4
6
8
10
Terima kasih

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

In [32]:
for i in range(1,5):
    print(i)

1
2
3
4

In [34]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [35]:
import time

for i in range(1,11):
    print(i)
    time.sleep(3)

print('Selesai')

1
2
3
4
5
6
7
8
9
10
Selesai

In [36]:
for i in range(1,11):
    print(i)

    if i == 7:
        break

1
2
3
4
5
6
7

In [38]:
i = 1

while i <= 10:
    print(i)

    if i == 7:
        break

    i += 1

1
2
3
4
5
6
7

In [37]:
for i in range(1,11):
    if i % 2 == 1:
        continue

    print(i)

2
4
6
8
10

In [41]:
i = 1

while i < 11:
    if i % 2 == 1:
        i += 1
        continue

    print(i)
    i += 1

2
4
6
8
10

In [44]:
i = 1

while i < 11:
    if i % 2 != 1:
        print(i)

    i += 1

2
4
6
8
10

In [47]:
warna = 'bIru'

if warna.lower() == 'biru':
    print(warna.lower())

biru

In [48]:
i = 1

while i < 5:
    print(i)
    i += 1
else:
    print('Apa ya?')

1
2
3
4
Apa ya?

In [51]:
anak_ayam = 10

while anak_ayam >= 2:
    print('Anak ayam turun '+str(anak_ayam)+' mati 1 tinggal '+str(anak_ayam-1))
    anak_ayam -= 1
else:
    print('Anak ayam turun 1 mati 1 tinggal induknya.')

Anak ayam turun 10 mati 1 tinggal 9
Anak ayam turun 9 mati 1 tinggal 8
Anak ayam turun 8 mati 1 tinggal 7
Anak ayam turun 7 mati 1 tinggal 6
Anak ayam turun 6 mati 1 tinggal 5
Anak ayam turun 5 mati 1 tinggal 4
Anak ayam turun 4 mati 1 tinggal 3
Anak ayam turun 3 mati 1 tinggal 2
Anak ayam turun 2 mati 1 tinggal 1
Anak ayam turun 1 mati 1 tinggal induknya.

In [53]:
umur = int(input('Masukkan umur= '))
nyetir = input('Bisa nyetir? ')

if (umur >= 17) and (nyetir.lower() == 'bisa'):
    print('SIM')
else:
    print('NO SIM')

SIM

In [54]:
x = False

if not x:
    print(x)

False