# Latihan Pandas

Fokus dari latihan ini adalah:

1. Peserta mampu membaca data dari file CSV menggunakan pandas
2. Peserta mampu menjalankan operasi pada dataframe
3. Peserta mampu menyeleksi kolom atau baris pada dataframe
4. Peserta mampu menyeleksi data menggunakan kondisional
5. Peserta mampu menjalankan fungsi groupby sesuai kebutuhan

File CSV bisa didapatkan dari https://github.com/hackathonBI/CCS.

# Latihan Satu

<b>Lakukan import library yang dibutuhkan</b>

<b>Baca Data dari file customers.csv</b>

<b>Munculkan 5 data awal dan 5 data akhir di dataframe</b>

<b>Munculkan kolom Segment dari data customer</b>

<b>Munculkan kolom CustomerID dan Currency dari data customer</b>

<b>Munculkan data customer yang nama Segment-nya diawali dengan huruf ``L``</b>

<b>Urutkan data customer secara descending</b>

<b>Buat Dataframe baru dengan nama ``df_customer_favorite`` yang hanya berisi 5 data dari dataframe customer</b>

<b>Tambahkan dua kolom pada ``df_customer_favorite`` bernama ``tanggallahir`` dan ``umur`` dimana kolom umur dihitung berdasarkan tanggal lahir</b>

# Latihan Dua

<b>Baca data dari file ``transactions_1k.csv`` ke dalam dataframe</b>

<b>Munculkan data transaksi untuk CustomerID lebih dari 10000</b>

<b>Munculkan data transaksi yang terjadi pada tanggal 23 Agustus 2012 sampai dengan 24 Agustus 2012</b>

<b>Munculkan data transaksi dengan jumlah pembelian terbanyak</b>

<b>Munculkan data transaksi dengan total pembayaran terkecil</b>

<b>Gunakan fungsi ``describe`` untuk menampilkan pengolahan statistik untuk semua kolom</b>

<b>Tambahkan kolom tanggal, bulan, tahun, dan jam yang merupakan hasil dari splitting kolom ``Date`` dan ``Time``</b>

<b>Munculkan list Top 5 Customers yang memiliki nilai transaksi paling banyak</b>

<b>Carilah waktu terbaik (hari dan jam) dimana paling banyak user gas station melakukan transaksi !</b>