In [3]:
print("Nama saya adalah Adam MB")

a = 10 #Integer
b = 11.5 #float
nama = "Kania Evita Dewi" #String

a, b, nama = 10, 11.5, "Kania Evita Dewi"
print(a,b,nama)

print("Nama saya adalah " + nama + ". Umur saya " + str(a) + ". Angka favorit saya adalah " + str(b))

Nama saya adalah Adam MB
10 11.5 Kania Evita Dewi
Nama saya adalah Kania Evita Dewi. Umur saya 10. Angka favorit saya adalah 11.5

In [5]:
print(10 + 5)
print("Kania" + "Evita" + "Indriani")

15
KaniaEvitaIndriani

In [7]:
print("Nama saya adalah Adam MB")
print()
print("Nama saya adalah Adam MB")

Nama saya adalah Adam MB

Nama saya adalah Adam MB

In [8]:
print("Nama saya adalah Adam MB\n")
print("Nama saya adalah Adam MB")

Nama saya adalah Adam MB

Nama saya adalah Adam MB

In [9]:
print("Kalau sampai waktuku\nKu mau tak seorang kan merayu\nTidak juga kau\nTak perlu sedu sedan itu\nAku ini binatang jalang")

Kalau sampai waktuku
Ku mau tak seorang kan merayu
Tidak juga kau
Tak perlu sedu sedan itu
Aku ini binatang jalang

In [13]:
# Karakter untuk newline adalah \n
print("Karakter untuk newline adalah \\n")

# I can't love you anymore.
print('I can\'t love you anymore.')
print("I can't love you anymore.")

Karakter untuk newline adalah \n
I can't love you anymore.
I can't love you anymore.

In [14]:
print("Nama saya adalah Patrick.","Nama keluarga saya adalah Star.", end = "*")

Nama saya adalah Patrick. Nama keluarga saya adalah Star.*

In [15]:
print("Nama", "saya", "adalah", "Patrick.", sep = "-")

Nama-saya-adalah-Patrick.

In [20]:
print("Saya mau bakso\n"*10)
print(10*10)
print("10\n"*10)

Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso
Saya mau bakso

100
10
10
10
10
10
10
10
10
10
10

In [23]:
a, b, nama = 10, 11.5, "Kania Evita Dewi"

print(type(a))
print(type(b))
print(type(nama))

<class 'int'>
<class 'float'>
<class 'str'>

In [28]:
print(1000000)
print(1_000_000)
print(-13)

print(0o17) #oktal
print(0xF) #hexadecimal

1000000
1000000
-13
15
15

In [30]:
print(25.0)
print(25.)

print(0.25)
print(.25)

25.0
25.0
0.25
0.25

In [35]:
print(3.2e10)
print(3.2e-2)

print(.00000000000000032)

print(round(0.3245678910,2))

32000000000.0
0.032
3.2e-16
0.32

In [38]:
print(10 > 5)

a = False
b = True
c = a + b

print(c)
print(type(c))

True
1
<class 'int'>