<b><font size = 30>Topic 6 - String, String and List Method, Exceptions</font></b>

Topik ini berfokus membahas:

1. Karakter, string dan standar coding
2. String vs. List
3. Method pada List
4. Method pada String
5. Cara Python untuk Error Handling
6. Mengontrol error dengan ``try`` dan ``except``
7. Hirarki exception

# Representasi Karakter

Komputer menyimpan sebuah karakter sebagai bilangan. Setiap karakter berkorespondensi terhadap sebuah bilangan yang UNIQUE dan sebaliknya. Beberapa dari karakter disebut dengan <b>WHITESPACES</b> dan yang lainnya disebut sebagai <b>CONTROL CHARACTERS</b> (karena tujaunnya untuk kontrol alat input/output).

Sistem bilangan yang mewakili karakter dan paling digunakan secara luas pada komputer adalah <b>ASCII</b> (American Standard Code for Information Interchange). ASCII memiliki 256 kode yang bisa mewakili karakter pada komputer. Berikut adalah tabel ASCII:

<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/ASCII-Table.svg/1200px-ASCII-Table.svg.png" alt = "Tabel ASCII">

## I18N

Tidak semua umat manusia di muka bumi ini menggunakan karakter latin. Tentunya ASCII tidak bisa memenuhi kebutuhan semua orang. Oleh karena itu dari 256 kode, ASCII hanya menggunakan 128 karakter (0 s.d. 127) dan sisanya digunakan untuk tujuan I18N. I18N merupakan singkatan dari <b>INTERNATIONALIZATION</b>. Apabila ada perbedaan karakter pada lintas budaya, bahasa, atau alphabet maka bisa memanfaatkan kode setelah 127.

## Code Points and Code Pages</b>

<b>Code Point</b> adalah sebuah bilangan yang membuat sebuah karakter. Sebagai contoh, 32 adalah Code Point di ASCII yang digunakan untuk merepresntasikan karakter <b>SPASI</b>. Dengan kata lain ASCII memiliki 128 Code Point.

</b>Code Pages</b> adalag sebuah standar untuk menggunakan kode yang lebih besar dari 128 (untuk menyimpan karakter nasional yang spesifik). Sebagai contoh, Code Point 200 mewakili Č (huruf yang digunakan dalam bahasa Slavic) ketika digunakan oleh ISO/IEC 8859-2 Code Page akan tetapi dengan code point yang sama dengan code page yang berbeda (ISO/IEC 8859-5) akan menghasilkan karakter Ш (sebuah huruf Cyrillic).

## UNICODE

Code pages menolong industri komputer untuk memecahkan masalah pada I18N untuk sementara saja, akan tetapi Code page bukan solusi yang permanen. Ada konsep baru yang menolong secara permanen yang dikenal sebagai <b>UNICODE</b>.

<img src = "https://miro.medium.com/max/1400/0*iuLgUkkTZZGhI2Ni.png" alt = "Gambar UNICODE">

Untuk mengetahui lebih lanjut perihal UNICODE, silakan buka <a href = "https://home.unicode.org/">LINK BERIKUT</a>. 

Unicode tidak menjelaskan bagaimana cara pengkodean dan penyimpanan karakter-karakter di dalamnya ke dalam memori atau files. Unicode hanya menamakan semua karakter di dalamnya dan menugaskan mereke ke dalam planes (a group of characters of similar origin, application, or nature). Ada lebih dari satu standar yang digunakan sebagai teknik mengimplementasikanunicode ke dalam sistem komputer dan penyimpanan di komputer.

## UCS-4

Salah satu teknik representasi unicode di sistem komputer adalah UCS-4. UCS-4 menggunakan 32 bit (4 byte) untuk menyimpan sebuah karakter dari sebuag code point di unicode. Sebuah file yang mengandung UCS-4 encoded text dimulai dengan sebuah BOM (byte order mark). BOM adalah kombinasi bit yang unprintable untuk menginformasikan nature karakter di dalamnya. UCS-4 menyebabkan ukuran teks yang disimpan menjadi 4 kali lipat dibanding menggunakan ASCII. Oleh karena itu, ada pendekatan lain yang sering digunakan sekarang, yaitu UTF-8.

## UTF-8

Pernahkah ketika memprogram HTML, kita melihat tulisan UTF-8? UTF-8 merupakan singkatan dari <b>Unicode Transformation Format</b>. UTF-8 menggunakan sebanyak mungkin bit untuk setiap code point sebanyak yang dibutuhkan untuk representasinya.

Sebagai contoh:
1. Semua karakter latin dan standar ASCII lainnya menggunakan 8 bit.
2. Karakter Non-latin menggunakan 16 bit
3. CJK (China-Japan-Korea) menggunakan 24 bit.

UTF-8 tidak memerlukan BOM untuk menandai apakah sebuah dokumen di komputer mengandung karakter UTF-8.

Apa gunanya kita mempelajari ini? Python menggunakan dan mendukung penuh penggunaan unicode dan UTF-8. Kita bisa membuat nama variabel atau menggunakan code point pada unicode dan UTF-8 sebagai input atau output di program yang kita buat. Untuk melihat karakter-karakter yang didukung oleh UNICODE dan UTF-8 dapat dilihat di <a href = "https://www.utf8-chartable.de/">LINK BERIKUT</a>.

# String (Lanjutan)

String merupakan sebuah tipe data sequence yang bersifat <b>IMMUTABLE</b>. karena bersifat sequence, kita bisa mengetahui panjang dari sebuah string dengan fungsi ``len(string)``.

In [1]:
# Example 1

word = 'by'
print(len(word))


# Example 2

empty = ''
print(len(empty))


# Example 3

i_am = 'I\'m'
print(len(i_am))

2
0
3

Bukti bahwa string bersifat mutable (akan menghasilkan ``TypeError`` ketika diubah):

In [2]:
nama = "Tinky Winky"
print(nama[3])

nama[3] = "s"

k

TypeError: 'str' object does not support item assignment

## Multiline String

Untuk bisa membuat string yang multibaris, kita bisa menggunakan tiga tanda kutip satu (bukan hanya satu kutip satu seperti biasanya).

In [ ]:
multiLine = '''Line #1  
disini string
lagi
Line #2'''

print(multiLine)
print(len(multiLine))

Kenapa panjangnya 36 sementara karakter yang terlihat tidak sejumlah itu? Tentunya karena ada whitespace. Silakan cek ada berapa whitespace di kode program tersebut.

## Operasi pada String

Ada beberapa operasi standar yang bisa diberlakukan pada string, yaitu:

| Operasi String | Keterangan |
| :--- | :--- |
| string1 + string2 | Menggabungkan isi dua buah string |
| string * int_value | Mereplikasi string yang diberikan sebanyak int_value |
| ord(karakter) | Digunakan untuk mengetahui ASCII/UNICODE Code Point dari sebuah karakter |
| chr(codepoint) | Mengubah code point menjadi karakter yang diwakilinya |


Contoh penggunaan fungsi ``ord(karakter)`` adalah sebagai berikut:

In [ ]:
kar1 = 'A'
kar2 = 'M'
kar3 = 'm'

print(ord(kar1))
print(ord(kar2))
print(ord(kar3))

Contoh penggunaan fungsi ``chr(codepoint)`` adalah sebagai berikut:

In [ ]:
print(chr(34))
print(chr(0))

Memasukkan code point yang tidak terdaftar pada ASCII/UNICODE akan menyebabkan ``ValueError`` dan ``TypeError``.

## Indexing pada String

Karena string merupakan tipe sequence maka kita bisa mengakses elemen di dalam string dengan menggunakan indeks seperti layaknya kita menggunakan list. Contoh pengindeksan string menggunakan for in range() adalah sebagai berikut:

In [ ]:
the_string = 'Adam MB'

for i in range(len(the_string)):
    print(the_string[i], end=' ')

print()

Kita juga bisa menggunakan for in koleksi sebagai berikut:

In [ ]:
the_string = 'Adam MB'

for character in the_string:
    print(character, end=' ')

print()

## Slicing pada String

Cara slicing pada string menggunakan konsep yang sama dengan list. Berikut contoh kode programnya:

In [ ]:
alpha = "abdefg"

print(alpha[1:3])
print(alpha[3:])
print(alpha[:3])
print(alpha[3:-2])
print(alpha[-3:4])
print(alpha[::2])
print(alpha[1::2])

Ada fitur lain yang diberikan oleh Python untuk menslicing suatu string dengan suatu kondisional tertentu. Sebagai contoh ada sebuah string berisi ``0123456`` dan kita ingin memunculkan elemen string yang berada di indeks genap atau ganjil saja. Bagaimana caranya? Mari kita coba kode program berikut:

In [ ]:
string = '0123456'

print(string[::2])
print(string[::3])

nama = "Agussedunia"
print(nama[::2])
print(nama[::3])

## Operator in dan not in di String

Operator ``in`` dan ``not in`` juga bisa digunakan pada string. Contohnya sebagai berikut:

In [ ]:
nama = "Adam Mukharil Bachtiar"

print("a" in nama)
print("A" in nama)
print("aril" in nama)
print("ach" in nama)
print("lala" in nama)

print()

print("a" not in nama)
print("A" not in nama)
print("aril" not in nama)
print("ach" not in nama)
print("lala" not in nama)

## Immutable String

Seperti yang kita ketahui di awal bahwa string merupakan tipe sequence yang bersifat immutable, dimana kita tidak bisa memodifikasi sebuah string. Beberapa fungsi yang <b>TIDAK BISA ATAU TIDAK TERSEDIA</b> digunakan pada String adalah:

1. ``del string[indeks]`` (fungsi ``del`` masih bisa digunakan dan berefek terhapusnya nilai sekaligus reference string tersebut)
2. ``append(string)``
3. ``insert(indeks, string)``

Berikut error yang akan muncul ketika fungsi-fungsi tersebut digunakan:

In [ ]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
del alphabet[0]

In [ ]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet.append("A")

In [ ]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet.insert(0, "A")

## Immutable Limit

Bukan berarti karena suatu tipe bersifat immutable, maka kita tidak bisa melakukan operasi pada suatu tipe data, termasuk tipe string. Coba jalankan kode program berikut:

In [ ]:
nama = "Harrypotter"

nama = "in" + nama
nama += "z"

print(nama)

Kedua operasi tersebut tetap bisa berjalan. Kenapa bisa? Python akan membuat copy baru dari string (dengan nama variabel yang sama) setiap kali kita melakukan operasi tersebut.

## Fungsi min(string) dan max(string)

Fungsi ``min(string)``` digunakan untuk menemukan elemen terkecil (dilihat dari kode ASCII/UNICODE) dari sebuah tipe sequence yang di-passing sebagai sebuah argumen. Syaratnya adalah tipe sequence tersebut (bisa berupa string, list, dan tuple) tidak boleh kosong. Berikut contoh penggunaannya:

In [ ]:
# Demonstrating min() - Example 1
print(min("aAbByYzZ"))


# Demonstrating min() - Examples 2 & 3
t = 'The Knights Who Say "Ni!"'
print('[' + min(t) + ']')

t = [0, 1, 2]
print(min(t))

><b>Catatan:</b> tanda [ ] digunakan agar whitespace tetap bisa dirasakan ketika menjalankan program

Bagaimana dengan fungsi ``max(string)``? Fungsi adalah kebalikan dari fungsi ``min(string)``. Berikut contoh penggunaannya:

In [ ]:
# Demonstrating max() - Example 1:
print(max("aAbByYzZ"))


# Demonstrating max() - Examples 2 & 3:
t = 'The Knights Who Say "Ni!"'
print('[' + max(t) + ']')

t = [0, 1, 2]
print(max(t))

## Method index()

``index()`` akan mencari dari awal tipe sequence untuk menemukan elemen pertama dari nilai yang dicari pada argumennya. Hasil dari method ini adalah indeks pertama dari lokasi argumen pada method ini.

In [ ]:
print("hARryPoTtER".index("R"))
print("hARryPoTtER".index("r"))
print("hARryPoTtER".index("t"))

Jika argumen tidak ditemukan pada string, maka kode program akan menghasilkan error berupa ``ValueError``. Berikut contohnya:

In [ ]:
print("hARryPoTtER".index("a"))

## Fungsi list()

Fungsi ``list()`` akan menghasilkan sebuah list hasil dari slicing karakter di string argumennya secara satu persatu. Berikut contoh kode programnya:

In [ ]:
nama = "hARryPoTtER"

list(nama)

## Method count()

Method ``count()`` digunakan untuk menghitung seluruh kemunculan dari karakter yang ada di argumen method ``count()``. Berikut adalah contoh penggunaannya:

In [ ]:
nama = "hARryPottER"

print(nama.count('t'))
print(nama.count('a'))

# String Method (Lanjutan)

Python memiliki beberapa method standar dari string yang bisa digunakan kita ketika melakukan pemrosesan string. Berikut adalah beberapa method yang bisa digunakan pada string:

| String Method | Kegunaan |
| :--- | :--- |
| capitalize(string) | Membuat karakter pertama dari string menjadi huruf kapital sementara sisanya diseragamkan menjadi huruf kecil |
| center(string)| Membuat copy dari string asli dan membuat rata tengan dari string di sebuah field yang dispesifikasikan lebarnya |
| endswith(string) | Memeriksa apakah argumen yang diberikan merupakan akhir dari sebuah string atau tidak |
| find(substring) | Mencari substring pada sebuah string dan mengembalikan nilai indeks kemunculan pertama dari substring tersebut |
| find(substring, indeks_mulai) | Sama seperti fungsi find tapi mencari mulai dari indeks_mulai |
| find(substring, indeks_mulai, indeks_batas) | Mencari substring dalam batas indeks_mulai s.d. indeks_batas |
| isalnum(string) | Mengembalikan nilai True jika string hanya mengandung digit atau alphabet (letter) begitu sebaliknya |
| isalpha(string) | Mirip seperti isalnum() tapi fokus untuk mengecek huruf |
| isdigit(string) | Mirip seperti isalnum() tapi fokus untuk mengecek digit |
| islower(string) | Memeriksa apakah string terdiri dari karakter lower-case atau tidak |
| isspace(string) | Mengidentifikasi apakah string berupa whitespace atau tidak |
| isupper(string) | Mirip seperti islower() tapi untuk memeriksa upper-case |
| join(list_of_string) | Argumen string akan digunakan sebagai separator untuk penggabungan string yang ada di list (argumen join) |
| lower(string) | Mengubah seluruh karakter di string menjadi lower-case |
| lstrip() | mengembalikan sebuah string baru yang dibentuk dari string asli yang sudah dihilangkan leading whitespace-nya |
| replace(substring_asli, string_pengganti) | Mengganti substring dengan string_pengganti |
| rfind(substring) | Mencari substring pada sebuah string dan mengembalikan nilai indeks kemunculan pertama dari substring tersebut dimulai dari belakang |
| rstrip() | Kebalikan dari lstrip() |
| split() | Memisahkan string yang terdeteksi berdasarkan delimiter whitespace |
| startswith(string) | Kebalikan dari endswith() |
| strip() | Kombinasi dari lstrip() dengan rstrip() |
| swapcase() | Menukar case dalam sebuah string (upper to lower dan kebalikannya) |
| title() | Mengubah setiap huruf pertama dari suatu string yang dipisahkan whitespace |
| upper() | Mengubah semua karakter menjadi upper-case |

## Capitalize()

Berikut contoh penggunaan method ``capitalize()``:

In [ ]:
nama = "hARryPottER"

nama.capitalize()
print('123'.capitalize())
print("αβγδ".capitalize())

## Center()

Berikut contoh penggunaan method ``center()``:

In [3]:
print('[' + 'Beta'.center(2) + ']')
print('[' + 'Beta'.center(8) + ']')
print('[' + 'Beta'.center(20) + ']')

print('[' + 'gamma'.center(20, '*') + ']')

[Beta]
[  Beta  ]
[        Beta        ]
[*******gamma********]

## endswith()

Berikut contoh penggunaan method ``endswith()``:

In [4]:
kata = "UNIKOM"

print(kata.endswith('OM'))
print(kata.endswith('M'))
print(kata.endswith("om"))
print(kata.endswith('com'))

True
True
False
False

## find()

Berikut contoh penggunaan method ``find()``:

In [5]:
kata = "UNIKOM - Universitas Komputer Indonesia"

print(kata.find('OM'))
print(kata.find(' '))
print(kata.find('ver'))
print(kata.find('a'))

print()

# mencari substring dimulai dari indeks tertentu
print(kata.find('a',19))

4
6
12
18

38

Untuk menemukan semua indeks substring yang dicari, kita bisa lakukan seperti contoh kode program berikut:

In [6]:
the_text = """A variation of the ordinary lorem ipsum
text has been used in typesetting since the 1960s 
or earlier, when it was popularized by advertisements 
for Letraset transfer sheets. It was introduced to 
the Information Age in the mid-1980s by the Aldus Corporation, 
which employed it in graphics and word-processing templates
for its desktop publishing program PageMaker (from Wikipedia)"""

fnd = the_text.find('the')
while fnd != -1:
    print(fnd)
    fnd = the_text.find('the', fnd + 1)

15
80
198
221
238

Berikut contoh ``find()`` yang menelusuri mulai dari suatu range tertentu.

In [7]:
print('kappa'.find('a', 1, 4))
print('kappa'.find('a', 2, 4))

1
-1

## isalnum()

Berikut contoh penggunaan method ``isalnum()``:

In [8]:
print('adam86'.isalnum())
print('adam'.isalnum())
print('35'.isalnum())
print('@'.isalnum())
print('adam_86'.isalnum())
print(''.isalnum())

True
True
True
False
False
False

## isalpha()

Berikut contoh penggunaan method ``isalpha()``:

In [9]:
print('adam86'.isalpha())
print('adam'.isalpha())
print('35'.isalpha())
print('@'.isalpha())
print('adam_86'.isalpha())
print(''.isalpha())

False
True
False
False
False
False

## isdigit()

Berikut contoh penggunaan method ``isdigit()``:

In [10]:
print('adam86'.isdigit())
print('adam'.isdigit())
print('35'.isdigit())
print('@'.isdigit())
print('adam_86'.isdigit())
print(''.isdigit())

False
False
True
False
False
False

## islower()

Berikut contoh penggunaan method ``islower()``:

In [11]:
print("Harry Potter".islower())
print('harry potter'.islower())

False
True

## isspace()

Berikut contoh penggunaan method ``isspace()``:

In [12]:
print("Harry Potter".isspace())
print(' '.isspace())
print(' \n'.isspace())

False
True
True

## issuper()

Berikut contoh penggunaan method ``isupper()``:

In [13]:
print("Harry Potter".isupper())
print('HARRY POTTER'.isupper())

False
True

## join()

Berikut contoh penggunaan method ``join()``:

In [14]:
print(",".join(["Harry", "Potter", "Bachtiar"]))

Harry,Potter,Bachtiar

## lower()

Berikut contoh penggunaan method ``lower()``:

In [15]:
print("Harry Potter".lower())
print('HARRY POTTER86'.lower())

harry potter
harry potter86

## lstrip()

Berikut contoh penggunaan method ``lstrip()``:

In [16]:
print("[" + " Adam ".lstrip() + "]")

[Adam ]

## replace()

Berikut contoh penggunaan method ``replace()``:

In [17]:
nama = 'Harry Potter'
print(nama.replace('Harry', 'Adam'))

print("Guava juice".replace("juice", ""))

Adam Potter
Guava

## rfind()

Berikut contoh Penggunaan ``rfind()`` beserta variannya:

In [18]:
print("Tinky Winky Tinky Winky".rfind("Ti"))
print("Tinky Winky Tinky Winky".rfind("ink", 9))
print("Tinky Winky Tinky Winky".rfind("ky", 3, 9))

12
19
3

## rstrip()

Berikut contoh penggunaan ``rstrip()``:

In [19]:
print("[" + " Adam ".rstrip() + "]")

[ Adam]

## split()

Berikut contoh penggunaan method ``split()``:

In [20]:
print("Harry Potter Bachtiar".split())
print("phi       chi\npsi".split())

['Harry', 'Potter', 'Bachtiar']
['phi', 'chi', 'psi']

## startswith()

Berikut contoh penggunaan method ``startswith()``:

In [21]:
print("Harry Potter".startswith('Ha'))
print('Harry Potter'.startswith('ha'))

True
False

## strip()

Berikut contoh penggunaan method ``strip()``:

In [22]:
print("[" + " Adam ".strip() + "]")

[Adam]

## swapcase(), upper(), dan title()

Berikut contoh penggunaan method ``swapcase()``, ``upper()``, dan ``title()``:

In [23]:
got = "You know nothing, Jon Snow!"

print(got.swapcase())
print(got.upper())
print(got.title())

yOU KNOW NOTHING, jON sNOW!
YOU KNOW NOTHING, JON SNOW!
You Know Nothing, Jon Snow!

## Hands on Lab 1 : My Split Function

Tugas kali ini kita harus menulis fungsi kita sendiri yang memiliki perilaku hampir sama dengan ``split()``. Aturannya sebagai berikut:

1. Argumen fungsi berupa sebuah string.
2. Fungsi harus mengembalikan nilai berupa list yang berisi kata-kata dari argumen (tentunya whitespace sudah dihilangkan).
3. Jika argumen berisi string kosong, fungsi mengembalikan nilai berupa list kosong.
4. Ikuti standar format fungsi yang tersedia.

Standar Fungsi:

```python
def mysplit(strng):
    #
    # put your code here
    #


print(mysplit("To be or not to be, that is the question"))
print(mysplit("To be or not to be,that is the question"))
print(mysplit("   "))
print(mysplit(" abc "))
print(mysplit(""))
```

Hasil yang diharapkan:

```python
['To', 'be', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question']
['To', 'be', 'or', 'not', 'to', 'be,that', 'is', 'the', 'question']
[]
['abc']
[]
```

In [24]:
def mysplit(strng):
  strng = strng.strip()
  
  listkata = []
  word = ""
  i = 0
  strng += " "
  
  for ch in strng: 
    if ch is " ":
      listkata.append(word)
      word = ""
    else:
      word += ch
      i += 1
    
  return listkata
 
 
print(mysplit("To be or not to be, that is the question"))
print(mysplit("To be or not to be,that is the question"))
print(mysplit("   "))
print(mysplit(" abc "))
print(mysplit(""))

['To', 'be', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question']
['To', 'be', 'or', 'not', 'to', 'be,that', 'is', 'the', 'question']
['']
['abc']
['']

<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-24-1a73c3a172c8>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if ch is " ":

## Membandingkan String

String dalam Python bisa dibandingkan dengan menggunakan operator relasional (lihat topik sebelumnya). Cara ini akan membandingkan string dari satu karakter ke karakter lainnya. Berikut contoh kasusnya:

In [25]:
print('alpha' == 'alpha')
print ('alpha' != 'Alpha')
print ('alpha' < 'alphabet')
# String comparison is always case-sensitive (upper-case letters are taken as lesser than lower-case).
print ('beta' > 'Beta')

# Even if a string contains digits only, it's still not a number.
print('10' == '010')
print('10' > '010')
print('10' > '8')
print('20' < '8')
print('20' < '80')

True
True
True
True
False
True
False
True
True

## Hands on Lab 2: Coba Membandingkan

Jalankan kode program berikut dan pelajari hasil keluarannya:

In [26]:
print('10' == 10)
print('10' != 10)
print('10' == 1)
print('10' != 1)
print('10' > 10)

False
True
False
True

TypeError: '>' not supported between instances of 'str' and 'int'

## Pengurutan String

Kita bisa mengurutkan list berisi string menggunakan fungsi ``sorted() dan ``sort()``. Perbedaannya adalah fungsi ``sorted()`` akan mengembalikan sebuah list baru sementara fungsi ``sort()`` tidak menghasilkan list baru. Berikut contoh kasusnya:

In [ ]:
slogan_hogwarts = ['nunquam', 'draco', 'titilandus', 'dormiens']
slogan_hogwarts2 = sorted(slogan_hogwarts)

print(slogan_hogwarts)
print(slogan_hogwarts2)

print()

slogan_hogwarts = ['nunquam', 'draco', 'titilandus', 'dormiens']
print(slogan_hogwarts)

slogan_hogwarts.sort()
print(slogan_hogwarts)

## String vs. Numbers

Sebuah angka baik integer maupun float bisa dikonversi menjadi sebuah string menggunakan fungsi ``str()``. Begitu pun sebaliknya, sebuah string bisa diubah ke dalam integer atau pun float menggunakan fungsi ``int()`` atau ``float()``. Berikut contoh kasusnya:

In [ ]:
bilbul = 10
bilkoma = 10.

print(str(bilbul) + '\n' + str(bilkoma))

print()

tahun_lahir = '1986'
tahun_sekarang = '2021'

print(int(tahun_sekarang) - int(tahun_lahir))

# Errors, failures, and other plagues

Kesalahan merupakan hal yang sering terjadi dalam proses pembuatan pemrograman.

Sebab terjadinya kesalahan:

1. Kesalahan dalam penulisan kode, sehingga kode tidak dapat dijalankan sama sekali
2. Kesalahan yang terjadi ketika program sedang di eksekusi

Dua buah cara yang dapat digunakan untuk memeriksa suatu kesalahan:

1. Menggunakan blok try....except
2. Menggunakan statement assert

## Exception

Exception adalah kesalahan yang terjadi ketika kode program sedang dieksekusi dan kesalahan ini mengganggu alur eksekusi kode program tersebut. Perhatikan kode program berikut dengan seksama.

In [ ]:
import math

hasil = math.sin(math.pi/2)

print("Hasil dari sin(" + math.degrees(math.pi/2) + ") adalah " + hasil)

Pada kode program tersebut, kita bisa menemukan exception (error) berupa ``TypeError`` yang diakibatkan kesalahan tipe data yang tidak sesuai dengan operator yang sedang digunakan (dalam kasus tersebut, tanda + bertindak untuk string concatenation).

Setiap kali Python menemukan exception, ada dua hal yang dilakukan oleh Python, yaitu:

1. Python memberhentikan program yang dieksekusi
2. Python membuat data special yang disebut <b>exception</b>.

## Hands on Lab 3: Menemukan penyebab exception

Silakan jalankan kode-kode program berikut dan cari tahu penyebab dari exception yang terjadi ketika program dieksekusi.

In [ ]:
import math

x = float(input("Masukkan nilai x: "))
y = math.sqrt(x)

print("Akar kuadrat dari ", x, "adalah", y)

Tidak menemukan exception? Coba dua kasus berikut:

1. Masukkan nilai "Seratus" untuk nilai x, atau
2. Masukkan nilai -4 untuk nilai x.

Apa yang terjadi? Exception apa yang dimunculkan oleh Python? Apa penyebabnya?

## Hands on Lab 4: Menemukan penyebab exception 2

Mari kita perhatikan kembali kode program berikut dengan seksama.

In [ ]:
bil1 = float(input("Bilangan 1 = "))
bil2 = float(input("Bilangan 2 = "))

hasil = bil1 / bil2

print(hasil)

Tidak menemukan exception? Coba masukkan nilai 0 pada bilangan 2. Apa yang terjadi? Exception apa yang dimunculkan oleh Python? Apa penyebabnya?

## Hands on Lab 5: Menemukan penyebab exception 3

Perhatikan kode program berikut dengan seksama.

In [ ]:
bilangan = [1, 2, 3, 4, 5]
batas_indeks = int(input("Munculkan sampai index? "))

for i in range(batas_indeks):
  print(bilangan[i], end = "\t")

Tidak menemukan exception? Coba masukkan nilai 10 pada variabel batas_indeks. Apa yang terjadi? Exception apa yang dimunculkan oleh Python? Apa penyebabnya?

## Exception Handling

Tentunya exception harus ditangani agar pengguna dari kode program kita tetap merasa nyaman ketika menggunakan kode program yang kita buat. Bayangkan apa yang terjadi ketika pengguna mendapatkan pesan berupa Exception pada saat menjalankan kode program yang kita buat?

Ada dua cara yang bisa kita lakukan untuk bisa meng-handle sebuah exception, yaitu:

1. Menggunakan struktur percabangan
2. Menggunakan mekanisme exception handling (try dan variannya)

## Mekanisme Percabangan untuk Menangani Exception

Struktur percabangan bisa digunakan untuk menghindari terjadinya exception. Berikut contoh penggunaannya:

In [ ]:
bil1 = float(input("Bilangan 1 = "))
bil2 = float(input("Bilangan 2 = "))

if bil2 != 0:
  print(bil1/bil2)
else:
  print("Pembagian dengan 0 tidak diizinkan")

Untuk kasus sederhana, mekanisme ini memang terkesan mudah. Akan tetapi bayangkan apabila logika dalam suatu kode program memungkinkan terjadinya banyak exception. Selain menimbulkan masalah berupa bengkaknya kode program karena tambahan struktur percabangan,Programmer juga makin lama akan makin sulit untuk menelusuri kode programnya karena logika proses utama bisa saja tersembunyi akibat struktur percabangan tersebut.

# Mekanisme Penanganan Exception dengan try...

Python menyediakan fasilitas try... (dengan seluruh variannya) untuk membantu programmer dalam menangani exception. Blok try akan dieksekusi dan ketika terjadi exception, eksekusi kode program akan dilanjutkan ke kode program berikutnya. Ada beberapa bentuk try di Python. Mari bahas satu-persatu.

## try-except

Bentuk pertama dari penanganan exception di Python adalah try-except. Format umumnya adalah sebagai berikut:

```python
try:
  blok instruksi try
except:
  blok instruksi except

blok instruksi di luar try-except
```

Bagaimana Python menjalankannya?

1. Python akan mencoba menjalankan blok instruksi di try satu-persatu.
2. Jika tidak ada exception yang terjadi maka eksekusi program dilanjutkan ke blok instruksi di luar blok instruksi try-except.
3. Jika ada exception yang terjadi maka Python akan mengarahkan eksekusi program ke blok except.

Berikut contoh penggunannya:

In [ ]:
bil1 = float(input("Bilangan 1 = "))
bil2 = float(input("Bilangan 2 = "))

try:
  print(bil1/bil2)
except:
  print("Pembagian dengan 0 tidak diizinkan")

print("apakah aku dijalankan?")

Perhatikan lagi contoh kode program berikut dengan seksama:

In [ ]:
bil1 = float(input("Bilangan 1 = "))
bil2 = float(input("Bilangan 2 = "))

try:
  print("Hai, aku muncul tidak?")
  print(bil1/bil2)
  print("Sekalian juga cek aku ya")
except:
  print("Pembagian dengan 0 tidak diizinkan")

print("apakah aku dijalankan?")

><b>Catatan:</b> baris instruksi di dalam blok try hanya akan dieksekusi hanya sampai exception ditemukan.

Apakah masalah sudah selesai? Tentu tidak, coba masukkan nilai ``adam`` ke dalam variabel ``bil1`` atau ``bil2``. Apa yang terjadi? ``ValueError`` akan terjadi karena ``adam`` tidak bisa dikonversi menjadi float. Inilah yang disebut dengan Multi Exception.

## Menangani Multi Exception

Bagaimana cara menangani Multi Exception seperti yang terjadi pada kode program di sub section sebelumnya? Kita bisa menggunakan blok try-except dengan format sebagai berikut:

```python
try:
  blok instruksi try
except exception1:
  blok instruksi exception1
except exception2:
  blok instruksi exception2
except exceptionN:
  blok instruksi exceptionN
except:
  blok instruksi except
```

Bagaimana cara kerjanya?

1. Jika blok try mengalami exception1 maka python akan mengarahkan eksekusi ke blok instruksi exception 1, dan seterusnya.
2. Jika blok try mengalami exception selain exception1 dan exception2, maka Python akan meneruskan eksekusi program ke blok except.

Jalankan kode program berikut dengan 3 kasus:
1. Kasus 1: Masukkan nilai ``budi`` di salah satu variabel (bil1 atau bil2)
2. Kasus 2: Masukkan angka 0 pada ``bil2``
3. Kasus 3: Jalankan kode program tersebut di Python local lalu tekan CTRL + C di keyboard ketika program meminta input.

Telaah apa yang terjadi ketika 3 kasus itu diujicoba.

In [ ]:
try:  
  bil1 = float(input("Bilangan 1 = "))
  bil2 = float(input("Bilangan 2 = "))
  print(bil1/bil2)
except ValueError:
  print("Variabel bil1 dan bil2 harus diisi data numerik")
except ZeroDivisionError:
  print("Pembagian dengan 0 tidak diizinkan")
except:
  print("Ini untuk exception lainnya")

Ada beberapa aturan yang harus dipahami dalam menggunakan try-except untuk multi exception, yaitu:

1. Blok ``except`` ditelusuri dalam urutan yang sama dengan yang kita buat di dalam kode program.
2. Tidak boleh menggunakan lebih dari satu blok ``except`` untuk jenis exception yang sama.
3. Blok ``try`` minimal diikuti dengan satu buah ``except`` baik yang except yang general maupun yang spesifik untuk satu exception. Begitu pun blok ``except`` hanya boleh digunakan apabila ada blok ``try``.
4. Apabila satu blok ``except`` tereksekusi, maka tidak ada blok ``except`` lain yang akan dieksekusi.
5. Jika tidak ada blok ``except`` spesifik (menyebutkan exception) yang dieksekusi maka exception tetap dianggap tidak tertangani.
6. Blok ``except`` yang tanpa menyebutkan exception harus diletakkan paling akhir.

><b>Catatan:</b> Perintah ``except`` tanpa exception memang akan menangani exception lain yang tidak tertangani oleh blok ``except`` dengan exception, akan tetapi alangkah baiknya apabila kita menjadikan ``except`` tanpa exception sebagai alternatif saja dalam menangani error. Sebaiknya, apabila kita mengetahui secara spesifik jenis exception yang dihasillkan, kita buatkan ``except`` dengan exceptionnya.

## Jenis-Jenis Exception

Python mendefinisikan 63 exception yang bersifat built-in. Beberapa exception yang umum bisa dilihat pada gambar berikut:

<img src = "https://w3.cs.jmu.edu/lam2mo/cs240_2014_08/images/exception_hierarchy.png" alt = "Hirarki Exception di Python 3">

Dokumen perihal exception pada Python, dapat diakses pada <a href = "https://docs.python.org/3/library/exceptions.html">LINK BERIKUT</a>.

Berikut sedikit penjelasan tentang jenis-jenis exception pada tree tersebut:

1. <b>BaseException</b> merupakan root dari semua jenis exception.
2. Level/layer yang lebih bawah merupakan exception yang spesifik dari exception di level sebelumnya.
3. Makin dekat dengan root makin general bentuk exceptionnya.
4. Exception yang general pasti mencakup scope dari exception spesifiknya tapi tidak sebaliknya.

Mari kita lihat contoh pada program berikut:

In [ ]:
try:  
  bil1 = float(input("Bilangan 1 = "))
  bil2 = float(input("Bilangan 2 = "))
  print(bil1/bil2)
except ArithmeticError:
  print("Pembagian dengan 0 tidak diizinkan")
except:
  print("Ini untuk exception lainnya")

Dengan kita menggunakan ``ArithmeticError`` kita masih bisa menangani exception yang dihasilkan ketika ada pembagian dengan nol. Hal itu dikarenakan ``ArithmeticError`` merupakan general class (lebih general) dari ``ZeroDivisionError``. Oleh karena itu scope dari ``ArithmeticError`` juga mencakup masalah di ``ZeroDivisionError``.

Intinya kita bisa saja tidak terlalu spesifik dalam memilih exception apabila kasus exception yang harus ditangani bisa dikelompokkan. Bagaimana kalau kita menyandingkan general class exception dengan specific class exception pada satu blok try? Mari kita coba kode program tersebut:

In [ ]:
try:  
  bil1 = float(input("Bilangan 1 = "))
  bil2 = float(input("Bilangan 2 = "))
  print(bil1/bil2)
except ArithmeticError:
  print("Ada masalah aritmatika")
except ZeroDivisionError:
  print("Pembagian dengan 0 tidak diizinkan")
except:
  print("Ini untuk exception lainnya")

In [ ]:
try:  
  bil1 = float(input("Bilangan 1 = "))
  bil2 = float(input("Bilangan 2 = "))
  print(bil1/bil2)
except ZeroDivisionError:
  print("Pembagian dengan 0 tidak diizinkan")
except ArithmeticError:
  print("Ada masalah aritmatika")
except:
  print("Ini untuk exception lainnya")

Dari penelusuran kode program tersebut, maka exception yang muncul adalah <b>yang pertama kali didefinisikan tanpa melihat general atau spesifik</b>.

><b>Catatan:</b>
1. Urutan dari except berpengaruh
2. Sebaiknya tidak menggunakan general class exception apabila sudah diketahui specific class exception.

## Menangani Dua atau Lebih Exception Dalam 1 Except

Kita bisa menangani dua atau lebih exception menggunakan 1 except (wajib: tetap analisis resiko yang muncul). Format yang digunakan adalah sebagai berikut:

```python
try:
  blok instruksi try
except (exception1, exceptionN):
  blok instruksi exception1, exceptionN
```

Berikut contoh penggunaannya:

In [ ]:
try:  
  bil1 = float(input("Bilangan 1 = "))
  bil2 = float(input("Bilangan 2 = "))
  print(bil1/bil2)
except (ValueError, ZeroDivisionError):
  print("Ada kesalahan di tipe nilai atau pembagian dengan 0")

Cara seperti ini bisa menghemat kode program akan tetapi gunakan konsep ini apabila penanganan untuk semua exception di blok tersebut memang tidak menimbulkan masalah ketika disatukan (tidak membuat masalah menjadi rancu atau ambigu).

## Menangani Exception di Fungsi

Apabila ada exception yang terjadi di dalam suatu fungsi,ada dua mekanisme yang bisa dilakukan untuk menanganinya, yaitu:

1. Tangani di dalam fungsi
2. Tangani di luar fungsi.

Berikut contoh untuk penanganan dalam fungsi:

In [ ]:
def tambah_data():
  hasil = 0

  try:
    bilangan = int(input("Masukkan sebuah bilangan: "))
    hasil += bilangan
    print(hasil)
  except ValueError:
    print("Masukkan tipe numerik, jangan alphanumerik")

tambah_data()

Berikut contoh untuk penanganan di luar fungsi:

In [ ]:
def tambah_data(bilangan):
  return bilangan + 10

try:
  bilangan = int(input("Masukkan sebuah bilangan: "))
  print(tambah_data(bilangan))
except ValueError:
  print("Masukkan tipe numerik, jangan alphanumerik")

## kata Kunci Raise

Kata kunci ``raise`` digunakan untuk menimbulkan Exception yang ditentukan oleh pengguna. Format pemanggilannya:

```python
raise exception
```

``raise`` biasanya digunakan sebagai strategi dalam menguji kode program yang dibuat. Kita bisa menspesifikkan exception sesuai kebutuhan pada kode program kita. Misal kita ingin menimbulkan exception ketika sebuah nama panjangnya kurang dari 1, maka berikut contoh penggunaan ``raise``:

```python
def validasi_nama(nama):
  if len(nama) < 1:
    raise ValueError
```

``ValueError`` ini akan ditangkap oleh unit testing ketika nanti masuk di tahap pengujian kode program.

## Hands on Lab 6: Raise untuk bilangan ganjil dan genap

Buatkan sebuah fungsi untuk mengecek bilangan ganjil dan genap dengan syarat:
1. 0 bukan bilangan genap atau ganjil
2. angka yang diinput tidak boleh bilangan negatif.

Apabila dilanggar, maka munculkan ``ValueError``.

In [ ]:
def odd_even(bilangan):
  if bilangan % 2 == 0:
    print("Bilangan genap")
  else:
    print("Bilangan ganjil")

try:
  bilangan = int(input("Masukkan bilangan = "))

  if(bilangan < 1):
    raise ValueError

  odd_even(bilangan)

except:
  print("Harus angka, jangan huruf")

## Raise tanpa Exception

``raise`` juga bisa dipanggil tanpa menyertakan nama exception-nya. Tapi ada satu catatan yang harus diperhatikan ketika menggunakan ``raise`` tanpa exception, yaitu:

>1. "Sebaiknya ``raise`` tanpa exception hanya digunakan di dalam blok ``except`` saja.
2. Instruksi ``raise`` dalam blok except akan memanggil kembali exception yang sama dengan exception yang sedang ditangani.

Berikut contoh penggunaannya:

In [ ]:
def bad_fun(n):
    try:
        return n / 0
    except:
        print("I did it again!")
        raise

try:
    bad_fun(0)
except ArithmeticError:
    print("I see!")

print("THE END.")

## Kata Kunci Assert

Format pemanggilan kata kunci ``assert`` adalah sebagai berikut:

```python
assert expression
```

Fungsi assertion:

1. Assert akan mengevaluasi ekspresi
2. Jika ekspresi bernilai True atau nilai numerik bukan nol, atau string tidak kosong, atau nilai lain yang berbeda dari None tidak akan di eksekusi
3. Jika selain itu akan muncul eksepsi AssertionError.

Penggunaan assertion:

1. Kita dapat menggunakan assertion jika kita ingin kode yang dibuat benar-benar aman dari data kita belum yakin kebenarannya
2. Mengamankan kode dari hasil yang tidak valid
assertion merupakan pelengkap exception.
3. Assertion dapat digunakan sebagai suplemen dari built-in exception.

Berikut contoh pengunaannya:

In [ ]:
import math

x = float(input("Enter a number: "))
assert x >= 0.0

x = math.sqrt(x)

print(x)

``AssertionError`` ini akan ditangkap oleh unit testing sebagai suplemen tambahan dalam pengujian ketika tidak ada built-in exception yang dapat digunakan.

## Hands on Lab 7: AssertionError

Jalankan dan pelajari kode program berikut:

In [ ]:
from math import tan, radians
angle = int(input('Enter integral angle in degrees: '))

# We must be sure that angle != 90 + k * 180
assert angle % 180 != 90
print(tan(radians(angle)))

## Hands on Lab 8: IndexError

Jalankan dan pelajari kode program berikut:

In [ ]:
the_list = [1, 2, 3, 4, 5]
ix = 0
do_it = True

while do_it:
    try:
        print(the_list[ix])
        ix += 1
    except IndexError:
        do_it = False

print('Done')

Kapan ``IndexError`` akan terjadi?

## Hands on Lab 9: KeyboardInterrupt

Buatlah kode program berikut memunculkan ``KeyboardInterrupt`` error (jalankan di lingkungan python anda masing-masing):

```python
from time import sleep

seconds = 0

while True:
    try:
        print(seconds)
        seconds += 1
        sleep(1)
    except KeyboardInterrupt:
        print("Don't do that!")
```

## Hands on Lab 10: MemoryError

Kapan kode program ini akan menghasilkan exception?

```python
string = 'x'
try:
    while True:
        string = string + string
        print(len(string))
except MemoryError:
    print('This is not funny!')
```

## Hands on Lab 11: OverflowError

Kapan kode program ini menghasilkan exception?

```python
from math import exp

ex = 1

try:
    while True:
        print(exp(ex))
        ex *= 2
except OverflowError:
    print('The number is too big.')
```

## Hands on Lab 12: ImportError

Siapa penyebab exceptionnya?

In [ ]:
try:
    import math
    import time
    import abracadabra

except:
    print('Import gagal.')

## Hands on Lab 13: KeyError

Jalankan dan ubahlah kode program agar menghasilkan exception berupa ``KeyError``:

In [ ]:
dictionary = { 'a': 'b', 'b': 'c', 'c': 'd' }
ch = 'a'

try:
    while True:
        ch = dictionary[ch]
        print(ch)
except KeyError:
    print('No such key:', ch)